@model MvcProje.Models.Entity.TBLURUNLER
@{
    ViewBag.Title = "Guncelle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Ürün Güncelle</h2>

@using (Html.BeginForm("Guncelle","Urun",FormMethod.Post))
{
<div class="col-md-9 form-group">
    @Html.LabelFor(m => m.URUNID)
    @Html.TextBoxFor(m => m.URUNID, new { @class = "form-control" })
    @Html.LabelFor(m => m.URUNAD)
    @Html.TextBoxFor(m => m.URUNAD, new { @class = "form-control" })
    @Html.LabelFor(m => m.MARKA)
    @Html.TextBoxFor(m => m.MARKA, new { @class = "form-control" })
    @Html.LabelFor(m => m.URUNKATEGORI)
    @Html.TextBoxFor(m => m.URUNKATEGORI, new { @class = "form-control" })
    @Html.LabelFor(m => m.FIYAT)
    @Html.TextBoxFor(m => m.FIYAT, new { @class = "form-control" })
    @Html.LabelFor(m => m.STOK)
    @Html.TextBoxFor(m => m.STOK, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Güncelle</button>
</div>
}