@using MvcProje.Models.Entity
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<TBLURUNLER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<div">
    <table class="table table-bordered">
        <tr>
            <th>Ürün ID</th>
            <th>Ürün AD</th>
            <th>Ürün Marka</th>
            <th>Ürün Kategori</th>
            <th>Ürün Fiyat</th>
            <th>Ürün Stok</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
        <tbody>
            @foreach (var urunler in Model)
            {

                <tr>
                    <td>@urunler.URUNID</td>
                    <td>@urunler.URUNAD</td>
                    <td>@urunler.MARKA</td>
                    <td>@urunler.TBLKATEGORILER.KATEGORIAD</td>
                    <td>@urunler.FIYAT</td>
                    <td>@urunler.STOK</td>
                    @*<td><a href="/Urunler/Sil/@urunler.URUNID" class="btn btn-danger">Sil</a></td>*@
                    <td>@Html.ActionLink("Ürün Sil", "Sil", new { id = urunler.URUNID }, new { @class = "btn btn-danger", onclick = "return confirm('Emin misin?')" })</td>
                    <td><a href="/Urunler/UrunGuncelle/@urunler.URUNID" class="btn btn-primary">Güncelle</a></td>

                </tr>

            }
        </tbody>
    </table>

    @Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }))
    <a href="/Urunler/YeniUrun/" class="btn btn-success">Yeni Ürün Ekle</a>
    </div>
